:root {
  --offset: 0;
  --border-radius: 4px;
  --color-text: #10120d;
  --color-primary: #f58333;
  --color-white: #fcfcfc;
  --color-lightgrey: #a7b1b7;
  --color-blue: #293f58;
  --color-green: #c8df8c;
  --color-orange: #f58333;
  --color-darkgrey: #393d34;
  --color-black: #10120d;
  --color-trueblack: #000;
  --color-truewhite: #fff;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-tract: "Organetto";
  --font-lg: 20px;
  --font-md: 18px;
  --font-sm: 16px;
  --font-sx: 14px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 2560px;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}

@font-face {
  font-family: "Organetto";
  src: url("../fonts/Organetto-Regular.woff");
  font-display: swap;
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}
a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

.pane {
  display: grid;
  max-width: 2560px;
  min-width: 320px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
}

a.pane,
button.pane {
  cursor: pointer;
}

.paneFragment {
  grid-area: 1 / 1 / 1 / 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-self: start;
}

.paneFragmentParagraphOutside {
  fill: none;
}
.paneFragmentImage section,
.paneFragmentImage__inner,
.paneFragmentVideo,
.paneFragmentVideo video,
.paneFragmentImage__inner div,
.svg-shape-outside {
  height: 100%;
  width: 100%;
}

// comic pane shapes
.svg-shape-outside__pane-left--mobile,
.svg-shape-outside__pane-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__pane-left--tablet,
.svg-shape-outside__pane-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__pane-left--desktop,
.svg-shape-outside__pane-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 960);
}

.svg-shape-outside__short-left--mobile,
.svg-shape-outside__short-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__short-left--tablet,
.svg-shape-outside__short-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__short-left--desktop,
.svg-shape-outside__short-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 960);
}

.svg-shape-outside__short2-left--mobile,
.svg-shape-outside__short2-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__short2-left--tablet,
.svg-shape-outside__short2-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__short2-left--desktop,
.svg-shape-outside__short2-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 960);
}

.svg-shape-outside__tall-left--mobile,
.svg-shape-outside__tall-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__tall-left--tablet,
.svg-shape-outside__tall-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__tall-left--desktop,
.svg-shape-outside__tall-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 960);
}

.svg-shape-outside__comic600r1-left--mobile,
.svg-shape-outside__comic600r1-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__comic600r2-left--mobile,
.svg-shape-outside__comic600r2-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__comic600r3-left--mobile,
.svg-shape-outside__comic600r3-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__comic600r4-left--mobile,
.svg-shape-outside__comic600r4-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__comic1080r1main1-left--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 340);
}

.svg-shape-outside__comic1080r1main1-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 740);
}

.svg-shape-outside__comic1080r1main2-left--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 783);
}

.svg-shape-outside__comic1080r1main2-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 297);
}

.svg-shape-outside__comic1080r2--left-tablet,
.svg-shape-outside__comic1080r2--right-tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__comic1080r3-left--tablet,
.svg-shape-outside__comic1080r3-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__comic1080r4-left--tablet,
.svg-shape-outside__comic1080r4-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__comic1920r1main1-left--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 371);
}

.svg-shape-outside__comic1920r1main1-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1549);
}

.svg-shape-outside__comic1920r1main2-left--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 863);
}

.svg-shape-outside__comic1920r1main2-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1057);
}

.svg-shape-outside__comic1920r1main3-left--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1240);
}

.svg-shape-outside__comic1920r1main3-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 680);
}

.svg-shape-outside__comic1920r2-left--desktop,
.svg-shape-outside__comic1920r2-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 960);
}

.svg-shape-outside__comic1920r3main1-left--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 539);
}

.svg-shape-outside__comic1920r3main1-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1381);
}

.svg-shape-outside__comic1920r3main2-left--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1416);
}

.svg-shape-outside__comic1920r3main2-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 504);
}

// menu

header {
  text-align: left;
  z-index: 10000;
  width: 100%;
  position: absolute;
  top: 0;
}

nav.menu-default {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  width: 100%;
  //font-family: URWDIN;
  background: rgb(16, 18, 13);
  background: linear-gradient(
    90deg,
    rgba(16, 18, 13, 0.4) 0%,
    rgba(16, 18, 13, 0.8) 50%,
    rgba(41, 63, 88, 1) 100%
  );
  overflow: hidden;
  & p {
    margin: 0;
    padding: 0;
  }
}

#menu-mobile.menu-default {
  height: calc((100vw - (var(--offset) * 1px)) / 600 * 140);
}
#menu-mobile.menu__branding {
    padding-left: calc((100vw - (var(--offset) * 1px)) / 600 * 55);
}
#menu-mobile.menu__logo {
    margin: 0;
    width: calc((100vw - (var(--offset) * 1px)) / 600 * 260);
}
#menu-mobile.menu__slogan {
    padding-left: calc((100vw - (var(--offset) * 1px)) / 600 * 55);
    line-height: calc((100vw - (var(--offset) * 1px)) / 600 * 20);
    padding-top: calc((100vw - (var(--offset) * 1px)) / 600 * 4);
    font-size: calc((100vw - (var(--offset) * 1px)) / 600 * 20);
}
#menu-mobile.menu__menuitems {
    padding-right: calc((100vw - (var(--offset) * 1px)) / 600 * 55);
    line-height: calc((100vw - (var(--offset) * 1px)) / 600 * 26);
    font-size: calc((100vw - (var(--offset) * 1px)) / 600 * 20);
}
#menu-mobile ul {
      flex-direction: column;
    }
  
#menu-tablet.menu-default {
  height: calc((100vw - (var(--offset) * 1px)) / 1080 * 211);
}

#menu-tablet.menu__branding {
  padding-left: calc((100vw - (var(--offset) * 1px)) / 1080 * 114);
}
#menu-tablet.menu__logo {
  margin: 0;
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 408);
}
#menu-tablet.menu__slogan {
  padding-left: calc((100vw - (var(--offset) * 1px)) / 1080 * 114);
  padding-top: calc((100vw - (var(--offset) * 1px)) / 1080 * 4);
  font-size: calc((100vw - (var(--offset) * 1px)) / 1080 * 28);
}
#menu-tablet.menu__menuitems {
  padding-right: calc((100vw - (var(--offset) * 1px)) / 1080 * 114);
  line-height: calc((100vw - (var(--offset) * 1px)) / 1080 * 44);
  font-size: calc((100vw - (var(--offset) * 1px)) / 1080 * 36);
}
#menu-tablet ul {
  flex-direction: column;
}

#menu-desktop.menu-default {
  height: calc((100vw - (var(--offset) * 1px)) / 1920 * 167);
}
#menu-desktop.menu__branding {
    width: calc((100vw - (var(--offset) * 1px)) / 1920 * 960);
    padding-top: calc((100vw - (var(--offset) * 1px)) / 1920 * 40);
    padding-left: calc((100vw - (var(--offset) * 1px)) / 1920 * 280);
  }
#menu-desktop.menu__logo {
    margin: 0;
    width: calc((100vw - (var(--offset) * 1px)) / 1920 * 407);
  }
#menu-desktop.menu__slogan {
    width: calc((100vw - (var(--offset) * 1px)) / 1920 * 960);
    padding-top: calc((100vw - (var(--offset) * 1px)) / 1920 * 35);
    padding-left: calc((100vw - (var(--offset) * 1px)) / 1920 * 51);
    font-size: calc((100vw - (var(--offset) * 1px)) / 1920 * 48);
}
#menu-desktop.menu__menuitems {
    line-height: calc((100vw - (var(--offset) * 1px)) / 1920 * 30);
    font-size: calc((100vw - (var(--offset) * 1px)) / 1920 * 30);
}
#menu-desktop.menu-row {
    display: flex;
    align-items: center;
}
#menu-desktop.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
#menu-desktop.menu-top {
    display: flex;
  }
#menu-desktop.menu-items {
    width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1400);
}
#menu-desktop ul {
      width: 100%;
}
#menu-desktop li {
        text-align: center;
}

.menu__branding {
  color: $green;
}
.menu__slogan {
  color: $lightgrey;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav.menu-default ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
nav.menu-default li {
  width: 100%;
  margin: 0;
  padding: 0;
}

nav.menu-default a {
  position: relative;
  color: $white;
  text-decoration: none;
}

nav.menu-default a.is-active {
  color: $orange !important;
}

nav.menu-default a:hover {
  color: $orange;
}
