:root {
  --offset: 0;
  --border-radius: 4px;
  --colour-text: #10120d;
  --colour-primary: #f58333;
  --colour-white: #fcfcfc;
  --colour-lightgrey: #a7b1b7;
  --colour-blue: #293f58;
  --colour-green: #c8df8c;
  --colour-orange: #f58333;
  --colour-darkgrey: #393d34;
  --colour-black: #10120d;
  --colour-trueblack: #000;
  --colour-truewhite: #fff;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-tract: "Organetto";
  --font-lg: 20px;
  --font-md: 18px;
  --font-sm: 16px;
  --font-sx: 14px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 2560px;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}

@font-face {
  font-family: "Organetto";
  src: url("../fonts/Organetto-Regular.woff");
  font-display: swap;
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--colour-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
  background: var(--colour-darkgrey);
}
header a {
  color: var(--colour-black);
}

a {
  background-color: transparent;
  color: var(--colour-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--colour-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--colour-code-bg);
  border-radius: var(--border-radius);
  color: var(--colour-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

.pane {
  display: grid;
  max-width: 2560px;
  min-width: 320px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
}

a,
button {
  cursor: pointer;
}

.paneFragment {
  grid-area: 1 / 1 / 1 / 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-self: start;
}

.paneFragmentParagraphOutside {
  fill: none;
}
.paneFragmentImage section,
.paneFragmentImage__inner,
.paneFragmentVideo,
.paneFragmentImage__inner div,
.paneFragmentContainer,
.paneFragmentCode {
  height: 100%;
  width: 100%;
}
.paneFragmentVideo video {
  height: 100%;
  width: auto;
}

.paneFragment-mobile {
  font-size: calc((100vw - (var(--offset) * 1px)) / 600 * 24);
}
.paneFragment-tablet {
  font-size: calc((100vw - (var(--offset) * 1px)) / 1080 * 30);
}
.paneFragment-desktop {
  font-size: calc((100vw - (var(--offset) * 1px)) / 1920 * 32);
}

.codehook {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.codehook__inner {
}

.svg__shape-outside {
  #visibility: hidden;
}

.svg-shape-outside__pane-left--mobile,
.svg-shape-outside__pane-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__pane-left--tablet,
.svg-shape-outside__pane-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__pane-left--desktop,
.svg-shape-outside__pane-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 960);
}

.svg-shape-outside__short-left--mobile,
.svg-shape-outside__short-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__short-left--tablet,
.svg-shape-outside__short-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__short-left--desktop,
.svg-shape-outside__short-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 960);
}

.svg-shape-outside__short2-left--mobile,
.svg-shape-outside__short2-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__short2-left--tablet,
.svg-shape-outside__short2-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__short2-left--desktop,
.svg-shape-outside__short2-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 960);
}

.svg-shape-outside__tall-left--mobile,
.svg-shape-outside__tall-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__tall-left--tablet,
.svg-shape-outside__tall-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__tall-left--desktop,
.svg-shape-outside__tall-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 960);
}

.svg-shape-outside__comic600r1-left--mobile,
.svg-shape-outside__comic600r1-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__comic600r2-left--mobile,
.svg-shape-outside__comic600r2-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__comic600r3-left--mobile,
.svg-shape-outside__comic600r3-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__comic600r4-left--mobile,
.svg-shape-outside__comic600r4-right--mobile {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 300);
}

.svg-shape-outside__comic1080r1main1-left--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 340);
}

.svg-shape-outside__comic1080r1main1-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 740);
}

.svg-shape-outside__comic1080r1main2-left--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 783);
}

.svg-shape-outside__comic1080r1main2-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 297);
}

.svg-shape-outside__comic1080r2--left-tablet,
.svg-shape-outside__comic1080r2--right-tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__comic1080r3-left--tablet,
.svg-shape-outside__comic1080r3-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__comic1080r4-left--tablet,
.svg-shape-outside__comic1080r4-right--tablet {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 540);
}

.svg-shape-outside__comic1920r1main1-left--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 371);
}

.svg-shape-outside__comic1920r1main1-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1549);
}

.svg-shape-outside__comic1920r1main2-left--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 863);
}

.svg-shape-outside__comic1920r1main2-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1057);
}

.svg-shape-outside__comic1920r1main3-left--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1240);
}

.svg-shape-outside__comic1920r1main3-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 680);
}

.svg-shape-outside__comic1920r2-left--desktop,
.svg-shape-outside__comic1920r2-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 960);
}

.svg-shape-outside__comic1920r3main1-left--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 539);
}

.svg-shape-outside__comic1920r3main1-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1381);
}

.svg-shape-outside__comic1920r3main2-left--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1416);
}

.svg-shape-outside__comic1920r3main2-right--desktop {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 504);
}

#menu-default-container {
  font-family: var(--font-tract);
  position: relative;
}

nav.menu-default {
  display: inline-flex;
  position: absolute;
  top: 0;
  z-index: 10000;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  width: 100%;
  text-align: left;
  background: linear-gradient(
    90deg,
    rgba(16, 18, 13, 0.4) 0%,
    rgba(16, 18, 13, 0.8) 50%,
    rgba(41, 63, 88, 1) 100%
  );
  overflow: hidden;
}
nav.menu-default p {
  margin: 0;
  padding: 0;
}

#menu-mobile.menu-default {
  height: calc((100vw - (var(--offset) * 1px)) / 600 * 140);
}
#menu-mobile .menu__branding {
  padding-left: calc((100vw - (var(--offset) * 1px)) / 600 * 25);
}
#menu-mobile .menu__logo {
  margin: 0;
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 271);
}
#menu-mobile .menu__slogan {
  padding-left: calc((100vw - (var(--offset) * 1px)) / 600 * 25);
  padding-top: calc((100vw - (var(--offset) * 1px)) / 600 * 4);
  font-size: calc((100vw - (var(--offset) * 1px)) / 600 * 16);
}
#menu-mobile .menu__menuitems {
  padding-right: calc((100vw - (var(--offset) * 1px)) / 600 * 25);
  font-size: calc((100vw - (var(--offset) * 1px)) / 600 * 14);
  line-height: calc((100vw - (var(--offset) * 1px)) / 600 * 26);
}
#menu-mobile ul {
  flex-direction: column;
}

#menu-tablet.menu-default {
  height: calc((100vw - (var(--offset) * 1px)) / 1080 * 211);
}

#menu-tablet .menu__branding {
  padding-left: calc((100vw - (var(--offset) * 1px)) / 1080 * 50);
}
#menu-tablet .menu__logo {
  margin: 0;
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 408);
}
#menu-tablet .menu__slogan {
  padding-left: calc((100vw - (var(--offset) * 1px)) / 1080 * 50);
  padding-top: calc((100vw - (var(--offset) * 1px)) / 1080 * 4);
  font-size: calc((100vw - (var(--offset) * 1px)) / 1080 * 24);
}
#menu-tablet .menu__menuitems {
  padding-right: calc((100vw - (var(--offset) * 1px)) / 1080 * 50);
  line-height: calc((100vw - (var(--offset) * 1px)) / 1080 * 40);
  font-size: calc((100vw - (var(--offset) * 1px)) / 1080 * 24);
}
#menu-tablet ul {
  flex-direction: column;
}

#menu-desktop.menu-default {
  height: calc((100vw - (var(--offset) * 1px)) / 1920 * 167);
}
#menu-desktop .menu__branding {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 599);
  padding-top: calc((100vw - (var(--offset) * 1px)) / 1920 * 20);
  padding-left: calc((100vw - (var(--offset) * 1px)) / 1920 * 50);
}
#menu-desktop .menu__logo {
  margin: 0;
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 549);
}
#menu-desktop .menu__slogan {
  padding-left: calc((100vw - (var(--offset) * 1px)) / 1920 * 50);
  font-size: calc((100vw - (var(--offset) * 1px)) / 1920 * 30);
}
#menu-desktop .menu__menuitems {
  font-size: calc((100vw - (var(--offset) * 1px)) / 1920 * 28);
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1260);
}
#menu-desktop .menu-top {
  display: flex;
}
#menu-desktop .menu-items {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 1800);
}
#menu-desktop ul {
  width: 100%;
}
#menu-desktop li {
  text-align: center;
}

.menu__branding {
  color: var(--colour-green);
}
.menu__slogan {
  color: var(--colour-lightgrey);
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav.menu-default ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
nav.menu-default li {
  width: 100%;
  margin: 0;
  padding: 0;
}

nav.menu-default a {
  position: relative;
  color: var(--colour-white);
  text-decoration: none;
}

nav.menu-default a.is-active {
  color: var(--colour-green);
}

nav.menu-default a:hover {
  color: var(--colour-green);
}

aside {
  position: fixed;
  bottom: 4vh;
  left: 0;
  width: auto;
  z-index: 10001;
  height: auto;
}
.controller__expanded--toggle,
.controller__minimized--toggle {
  cursor: pointer;
  font-size: var(--font-sx);
}
.controller__expanded--toggle:hover,
.controller__minimized--toggle:hover {
  background: var(--colour-green);
  color: var(--colour-blue);
}
.controller__expanded,
.controller__minimized {
  display: flex;
}
.controller__expanded--mobile {
  height: calc((100vw - (var(--offset) * 1px)) / 600 * 110);
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 600);
}
.controller__expanded--tablet {
  height: calc((100vw - (var(--offset) * 1px)) / 1080 * 104);
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 369);
}
.controller__expanded--desktop {
  height: calc((100vw - (var(--offset) * 1px)) / 1920 * 124);
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 513);
}
.controller__minimized--mobile {
  height: calc((100vw - (var(--offset) * 1px)) / 600 * 110);
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 70);
}
.controller__minimized--tablet {
  height: calc((100vw - (var(--offset) * 1px)) / 1080 * 104);
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 118);
}
.controller__minimized--desktop {
  height: calc((100vw - (var(--offset) * 1px)) / 1920 * 124);
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 202);
}
.controller__minimized--toggle-mobile,
.controller__expanded--toggle-mobile {
  height: 100%;
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 20);
  margin: 0 calc((100vw - (var(--offset) * 1px)) / 600 * 4);
  padding: 0;
  font-size: calc((100vw - (var(--offset) * 1px)) / 600 * 14);
}
.controller__minimized--toggle-tablet,
.controller__expanded--toggle-tablet {
  height: 100%;
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 35);
  margin: 0 calc((100vw - (var(--offset) * 1px)) / 1080 * 7);
}
.controller__minimized--toggle-desktop,
.controller__expanded--toggle-desktop {
  height: 100%;
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 41);
  margin: 0 calc((100vw - (var(--offset) * 1px)) / 1920 * 8);
}
.controller__minimized--icons-mobile {
  height: calc((100vw - (var(--offset) * 1px)) / 600 * 102);
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 36);
  margin: calc((100vw - (var(--offset) * 1px)) / 600 * 4);
}
.controller__minimized--icons-tablet {
  height: calc((100vw - (var(--offset) * 1px)) / 1080 * 90);
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 55);
  margin: calc((100vw - (var(--offset) * 1px)) / 1080 * 7);
}
.controller__minimized--icons-desktop {
  height: calc((100vw - (var(--offset) * 1px)) / 1920 * 108);
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 129);
  margin: calc((100vw - (var(--offset) * 1px)) / 1920 * 8);
}
#controller__icons {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
ul.controller__icons--mobile {
  height: calc((100vw - (var(--offset) * 1px)) / 600 * 102);
}
ul.controller__icons--tablet {
  height: calc((100vw - (var(--offset) * 1px)) / 1080 * 90);
}
ul.controller__icons--desktop {
  height: calc((100vw - (var(--offset) * 1px)) / 1920 * 82);
}
.controller__icons li {
  margin: 0;
  width: auto;
  max-height: 100%;
  max-width: 70%;
  padding: 0;
  cursor: pointer;
}
.controller__icons li:hover {
  cursor: pointer;
  transform: rotate(-7deg);
  transition: all 0.3s ease-in-out 0s;
}
.controller__icons--mobile li {
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 36);
  height: calc((100vw - (var(--offset) * 1px)) / 600 * 25.5);
}
.controller__icons--tablet li {
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 27.5);
  height: calc((100vw - (var(--offset) * 1px)) / 1080 * 30);
}
.controller__icons--desktop li {
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 43);
  height: calc((100vw - (var(--offset) * 1px)) / 1920 * 54);
}
button.controller__carousel {
  background: var(--colour-white);
  cursor: pointer;
}
.controller__carousel svg {
  max-height: 0.8rem;
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  fill: var(--colour-blue);
}
.controller__carousel p {
  margin: 0;
}
.controller__expanded--carousel {
  width: 100%;
}
.controller__expanded--carousel-mobile {
  height: calc((100vw - (var(--offset) * 1px)) / 600 * 102);
  width: calc((100vw - (var(--offset) * 1px)) / 600 * 500);
  padding-left: calc((100vw - (var(--offset) * 1px)) / 600 * 28);
  margin: calc((100vw - (var(--offset) * 1px)) / 600 * 6);
}
.controller__expanded--carousel-mobile button {
  height: calc((100vw - (var(--offset) * 1px)) / 600 * 102);
}
.controller__expanded--carousel-mobile .headline {
  font-size: calc((100vw - (var(--offset) * 1px)) / 600 * 20);
  padding-left: calc((100vw - (var(--offset) * 1px)) / 600 * 16);
  padding-right: calc((100vw - (var(--offset) * 1px)) / 600 * 16);
}
.controller__expanded--carousel-tablet {
  height: calc((100vw - (var(--offset) * 1px)) / 1080 * 90);
  width: calc((100vw - (var(--offset) * 1px)) / 1080 * 302);
  margin: calc((100vw - (var(--offset) * 1px)) / 1080 * 9);
}
.controller__expanded--carousel-tablet button {
  height: calc((100vw - (var(--offset) * 1px)) / 1080 * 90);
}
.controller__expanded--carousel-tablet .headline {
  font-size: calc((100vw - (var(--offset) * 1px)) / 1080 * 16);
}
.controller__expanded--carousel-desktop {
  height: calc((100vw - (var(--offset) * 1px)) / 1920 * 108);
  width: calc((100vw - (var(--offset) * 1px)) / 1920 * 436);
  margin: calc((100vw - (var(--offset) * 1px)) / 1920 * 10);
}
.controller__expanded--carousel-desktop .headline {
  font-size: calc((100vw - (var(--offset) * 1px)) / 1920 * 18);
}
.controller__expanded--carousel-desktop button {
  height: calc((100vw - (var(--offset) * 1px)) / 1920 * 108);
}
button .controller__carousel--title-mobile svg {
  height: calc((100vw - (var(--offset) * 1px)) / 600 * 16);
}
button .controller__carousel--title-tablet svg {
  height: calc((100vw - (var(--offset) * 1px)) / 1080 * 16);
}
button .controller__carousel--title-desktop svg {
  height: calc((100vw - (var(--offset) * 1px)) / 1920 * 22);
}

/*
.slider-control-centerleft,
.slider-control-centerright {
  display: none;
}
.slider-control-centerright {
  font-size: var(--font-sx);
  padding: 0;
}
*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-moz-keyframes fadeInUp {
  0% {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-o-keyframes fadeInUp {
  0% {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-ms-keyframes fadeInUp {
  0% {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.expanded {
  height: 100vh;
}
.header__graph {
  background: var(--colour-white);
  height: 100%;
}
#concierge {
  height: 100%;
}
button.header__toggle {
  background: none;
  border: none;
}

.header__toggle img {
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}
.header__toggle img:hover {
  cursor: pointer;
  transform: rotate(15deg);
  transition: all 0.3s ease-in-out 0s;
}
